version: 2.1

executors:
  ubuntu-build:
    description: "A regular build executor based on ubuntu image"
    docker:
      - image: piotrsikora/envoy:ce41fb4c08415c94ba849685f07c35c34de81175
    resource_class: xlarge
    working_directory: /source

jobs:
   release:
     executor: ubuntu-build
     environment:
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           environment:
             BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=enabled" # v8 + WAVM (build only).
           command: ci/do_circle_ci.sh bazel.release.server_only
       - run:
           environment:
             BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, WAVM segfaults in tests.
           command: ci/do_circle_ci.sh bazel.release ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   asan:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, ASan detects leaks in WAVM library.
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.asan ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   coverage:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, LSan detects leaks in WAVM library.
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
       VALIDATE_COVERAGE: 0
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.coverage ${BAZEL_TEST_TARGETS}
           no_output_timeout: 60m
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   format:
     executor: ubuntu-build
     resource_class: small
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: pip install -r tools/requirements.txt
       - run: ci/do_circle_ci.sh check_format
       - run: ci/do_circle_ci.sh check_repositories
       - run: ci/do_circle_ci.sh check_spelling
       # TODO(PiotrSikora): re-enable once fixed.
       # - run: ci/do_circle_ci.sh check_spelling_pedantic

   macos:
     macos:
       xcode: "10.2.1"
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, WAVM segfaults in tests.
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
     steps:
       - run: sudo sntp -sS time.apple.com
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - restore_cache:
           keys:
             - macos-bazel-cache-{{ checksum "bazel/repository_locations.bzl" }}
       - run: ci/mac_ci_setup.sh
       - run: ci/mac_ci_steps.sh ${BAZEL_TEST_TARGETS}
       - save_cache:
           key: macos-bazel-cache-{{ checksum "bazel/repository_locations.bzl" }}
           paths:
             - /private/var/tmp/_bazel_distiller/

workflows:
  version: 2
  all:
    jobs:
      - release
      - asan
      - coverage
      - format
      - macos
