version: 2.1

executors:
  ubuntu-build:
    description: "A regular build executor based on ubuntu image"
    docker:
      # NOTE: Update bazel/toolchains/rbe_toolchains_config.bzl with sha256 digest to match the image here.
      - image: piotrsikora/envoy-build-ubuntu@sha256:e2775df4cf57e86920ca39886a877b4ccc12dbcfaa2a7c2a804f4cb83c797952
    resource_class: xlarge
    working_directory: /source

jobs:
   release:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--local_ram_resources=8192 --local_cpu_resources=6 --define wasm=enabled" # v8 + WAVM (build only)
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.release.server_only
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   all_tests:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--local_ram_resources=8192 --local_cpu_resources=6 --flaky_test_attempts=5"
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - restore_cache:
           keys:
             - tests-bazel-cache-{{ checksum "WORKSPACE" }}-{{ checksum "bazel/repository_locations.bzl" }}
       - run: ci/do_circle_ci.sh bazel.dev
       - save_cache:
           key: tests-bazel-cache-{{ checksum "WORKSPACE" }}-{{ checksum "bazel/repository_locations.bzl" }}
           paths:
             - /home/circleci/.cache/bazel
           when: always # Save cache even when some tests fail.

   asan:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--local_ram_resources=8192 --local_cpu_resources=6"
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/filters/network/wasm/... //test/extensions/wasm/... //test/extensions/common/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.asan ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   tsan:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--local_ram_resources=8192 --local_cpu_resources=6"
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/filters/network/wasm/... //test/extensions/wasm/... //test/extensions/common/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.tsan ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   coverage:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--local_ram_resources=8192 --local_cpu_resources=6"
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/filters/network/wasm/... //test/extensions/wasm/... //test/extensions/common/wasm/..."
       VALIDATE_COVERAGE: 0
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.coverage ${BAZEL_TEST_TARGETS}
           no_output_timeout: 60m
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   format:
     executor: ubuntu-build
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: pip install -r tools/code_format/requirements.txt
       - run: ci/do_circle_ci.sh check_format
       - run: ci/do_circle_ci.sh check_repositories
       - run: ci/do_circle_ci.sh check_spelling
       # TODO(PiotrSikora): re-enable once fixed.
       # - run: ci/do_circle_ci.sh check_spelling_pedantic

   macos:
     macos:
       xcode: "11.0.0"
     environment:
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/filters/network/wasm/... //test/extensions/wasm/... //test/extensions/common/wasm/..."
       CC: clang
       CXX: clang++
     steps:
       - run: sudo sntp -sS time.apple.com
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - restore_cache:
           keys:
             - macos-bazel-cache-{{ checksum "bazel/repository_locations.bzl" }}
       - run: ci/mac_ci_setup.sh
       - run: ci/mac_ci_steps.sh ${BAZEL_TEST_TARGETS}
       - save_cache:
           key: macos-bazel-cache-{{ checksum "bazel/repository_locations.bzl" }}
           paths:
             - /private/var/tmp/_bazel_distiller/

workflows:
  version: 2
  all:
    jobs:
      - release
      - all_tests
      - asan
      - tsan
      - coverage
      - format
      - macos
