version: 2.1

executors:
  ubuntu-build:
    description: "A regular build executor based on ubuntu image"
    docker:
      - image: piotrsikora/envoy:72ac3212de661d2ef7c9210e78fedf76d5cbe9f0
    resource_class: xlarge
    working_directory: /source

jobs:
   release:
     executor: ubuntu-build
     environment:
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           environment:
             BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=enabled" # v8 + WAVM (build only).
           command: ci/do_circle_ci.sh bazel.release.server_only
       - run:
           environment:
             BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, WAVM segfaults in tests.
           command: ci/do_circle_ci.sh bazel.release ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   asan:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, ASan detects leaks in WAVM library.
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: ci/do_circle_ci.sh bazel.asan ${BAZEL_TEST_TARGETS}
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   coverage:
     executor: ubuntu-build
     environment:
       BAZEL_BUILD_EXTRA_OPTIONS: "--define wasm=v8" # v8 only, LSan detects leaks in WAVM library.
       BAZEL_TEST_TARGETS: "//test/extensions/access_loggers/wasm/... //test/extensions/filters/http/wasm/... //test/extensions/wasm/..."
       VALIDATE_COVERAGE: 0
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run:
           command:
             ci/do_circle_ci.sh bazel.coverage ${BAZEL_TEST_TARGETS}
           no_output_timeout: 60m
       - store_artifacts:
           path: /build/envoy/generated
           destination: /

   format:
     executor: ubuntu-build
     resource_class: small
     steps:
       - run: rm -rf /home/circleci/project/.git # CircleCI git caching is likely broken
       - checkout
       - run: pip install -r tools/requirements.txt
       - run: ci/do_circle_ci.sh check_format
       - run: ci/do_circle_ci.sh check_repositories
       - run: ci/do_circle_ci.sh check_spelling
       # TODO(PiotrSikora): re-enable once fixed.
       # - run: ci/do_circle_ci.sh check_spelling_pedantic

workflows:
  version: 2
  all:
    jobs:
      - release
      - asan
      - coverage
      - format
